{% extends "mobile/index.html" %}

{%  block content %}

    <form action="" method="post">
        {% csrf_token %}

        {% for field in form.fields %}

            <div data-role="page" id="field-{{ field.name }}">

                <div data-role="header">
                    <h1>{{ form.verbose_name }}</h1>
                </div>

                <div role="main" class="'ui-content">
                    <!--
                    <label>
                        {{ field.verbose_name }}
                        {% if field.help_text %}
                            <span class="help_text">
                                {{ field.help_text }}
                            </span>
                        {% endif %}
                    </label>
                    -->
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            </div>

        {%  endfor %}

    </form>

{% endblock %}